[mysqld]
datadir=/data/mysql
socket=/var/lib/mysql/mysql.sock
{% if mysqlver == 5.7 or mysqlver == '5.7' %}
#validate_password=OFF
{% endif %}
init-connect = 'SET NAMES utf8mb4'
character-set-server = utf8mb4
skip-name-resolve
back_log = 300
max_connections = 214
max_connect_errors = 6000
open_files_limit = 1024
table_open_cache = 128
max_allowed_packet = 500M
binlog_cache_size = 1M
max_heap_table_size = 8M
tmp_table_size = 16M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
sort_buffer_size = 8M
join_buffer_size = 8M
key_buffer_size = 4M
thread_cache_size = 8
ft_min_word_len = 4
log_bin = mysql-bin
binlog_format = mixed
expire_logs_days = 7
performance_schema = 0
server_id=1
skip-external-locking
default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_open_files = 500
innodb_buffer_pool_size = 64M
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_thread_concurrency = 0
innodb_purge_threads = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 2M
innodb_log_file_size = 32M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
bulk_insert_buffer_size = 8M
myisam_sort_buffer_size = 8M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
interactive_timeout = 28800
wait_timeout = 28800
{% if mysqlver == 5.7 or mysqlver == '5.7' %}
default_authentication_plugin=mysql_native_password
{% endif %}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
slow_query_log = 1
long_query_time = 1
[mysqldump]
quick
max_allowed_packet = 500M
[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M
[mysql]
no-auto-rehash
[mysqlhotcopy]
interactive-timeout